.box {
    height: 1080px;
    width: 1920px;
}

.box .background-gradient {
    background-blend-mode: color;
    background-color: #00b55b29;
    height: 1080px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1920px;
}
